core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
outputs/
!outputs/03_modelling_and_evaluating/
!outputs/03_modelling_and_evaluating/image_shape.pkl
!outputs/03_modelling_and_evaluating/class_indices.pkl
*.h5
*.hdf5
*.pkl
*.joblib
inputs/
datasets/
data/
.ipynb_checkpoints/
venv/
.env/
.DS_Store
Thumbs.db